@charset "utf-8";
/* CSS Document */
body{ margin:0; padding:0; font-size:12px; font-family: "微软雅黑", ; color:#fff; background:#fff;}
 .main_bian{min-width:790px; width:79%; min-height:560px; padding-left:8px;  float:left; position:absolute; top:0; left:200px;}
 .main_jian{min-width:200px; width:auto!important;   float:left; min-height:560px; background:#f1f1f1; border-right:1px solid #c4c4c4;}
 .main_pie{ width:160px; height:35px; display:block; margin:8px 20px 0 20px;  line-height:35px;   text-align:left; text-indent:4em;  position:relative; top:0; left:0;}
 .main_pie a{ text-decoration:none; color:#666;}
 .main_xuan_1{ position:absolute; width:35px; height:35px; top:0; left:10px; background:url(../images/yonghu.jpg) no-repeat; no-repeat;}
 .main_xuan_2{ position:absolute; width:35px; height:35px; top:-2px; left:10px; background:url(../images/jiankang.jpg) no-repeat;}
 .main_xuan_3{position:absolute; width:35px; height:35px; top:-2px; left:10px; background:url(../images/wenzhang.jpg) no-repeat;}
 .main_xuan_4{position:absolute; width:35px; height:35px; top:-2px; left:10px; background:url(../images/fankui.jpg) no-repeat;}
 .main_xuan_5{position:absolute; width:35px; height:35px; top:-2px; left:10px; background:url(../images/app.jpg) no-repeat;}
 .main_xuan_6{position:absolute; width:35px; height:35px; top:-2px; left:10px; background:url(../images/yonghuguanli.jpg) no-repeat;}
  .main_pp{width:100%; height:38px;  background:url(../images/1.jpg) repeat-x; margin:0;}
 .main_go{min-width:900px; height:38px; margin:0 auto; line-height:38px; overflow:hidden;}
 .main_sty{height:38px; float:left; margin-left:20px;}
 .main_mov{ height:38px; float:right; margin-right:20px;}
 .main_guge{width:100%; height:30px; margin:0 auto; line-height:30px; background:#c4c4c4; color:#666;}
 .main_tabim{width:200px; height:30px; float:left; margin-left:20px;}
 .main_chen{width:100%; min-height:560px; margin:0 auto; clear:both; color:#666; position:relative;}
 .main_poy{width:200px; height:60px; background:url(../images/houtai.jpg) no-repeat; margin-top:10px;}
 .main_opt{width:700px; height:35px; background:url(../images/jianbian.jpg) no-repeat; line-height:35px; padding-left:10px;}
 .main_opk{width:500px; height:20px; margin-top:10px;}
 .main_kpy{width:500px; height:35px; margin-top:5px; line-height:30px;}
 .main_color{color:red;}
 .main_pst{min-width:800px; height:364px; overflow:hidden;}
 .main_bor{background:#d8d8d8;}
 .tab{ min-width:100%; max-height:364px; border-collapse:collapse;  }
 .tab tr{min-width:890px; height:30px; line-height:30px; text-align:center; }
 .tab td{ height:30px; line-height:30px; border:1px solid #999;}
 .padd{min-width:790px; height:35px; margin-top:10px; text-align:center; line-height:35px;}
 .padd a{ margin:0 10px; display:inline-block; color:#666;}
 .padd_wu{ text-decoration:none;}	 
 .fold{width:100%; height:35px; color:#666; background:#c4c4c4; text-align:center; line-height:35px;}
 .main_guli{min-width:790px; height:750px; margin:0 auto; clear:both; color:#666; position:relative;}
 .main_long{width:200px;  float:left; height:750px; background:#f1f1f1; border-right:1px solid #c4c4c4;}
 .main_wen{min-width:790px; height:750px; padding-left:0px;  float:left; position:absolute; top:0; left:200px;}
 
 .qin{min-width:790px; margin-top:10px;}
.qin_shu{min-width:800px; height:30px; line-height:30px; margin-top:0px;}
.qin_ju{width:120px; height:30px; float:left; text-align:right;}
.qin_fen{width:600px; height:30px; float:left; text-align:left; margin-left:15px;}

.goad{min-width:780px; width:auto!important; margin-top:10px;}
.goad_pad{min-width:780px; width:auto!important; margin:0; padding:0; margin-left:20px; border-collapse:collapse;}
.goad_pad tr{ height:25px; line-height:25px;}
.goad_pad tr td{ border:1px solid #c4c4c4; text-align:center; }
.goad_kap{min-width:780px; width:auto!important; margin:0 auto; background:#d8d8d8;}
.goad_pad span{ color:#999; margin-left:10px;}
.goad_ha{min-width:800px; height:30px; line-height:30px; margin-top:0px;}
.goad_kun{width:120px; height:30px; float:left; text-align:right;}
.goad_zhu{width:600px; height:30px; float:left; text-align:left; margin-left:15px;}
.maby{ color:#666; text-decoration:underline;}
 
 .cs{word-break:overflow:hidden; cursor:pointer;}
 
 
 .fold{width:100%; height:35px; color:#666; background:#c4c4c4; text-align:center; line-height:35px;}
 .ttp{min-width:780px; min-height:424px;}
 .ttp_tp{min-width:780px; height:30px; line-height:30px; padding-top:20px; text-align:right;}
 .ttp_lop{min-width:780px; height:400px; padding-top:14px; overflow:hidden;  background:#f1f1f1;}
 .ttp_zai{margin:0; width:100%; height:400px; overflow:hidden; padding:0;}
 .ttp_zai li{min-width:780px; height:35px; line-height:35px; margin-top:0px; border-bottom:1px dashed #c4c4c4;  list-style-type:none;}
 .ttp_zai li a{ height:35px; line-height:35px; color:#666; text-decoration:none;}
 .ttp_tui{min-width:550px; float:left;  width:auto!important; text-indent:2em; position:relative;}
 .ttp_zhi{float:right; font-family:Verdana, Geneva, sans-serif; font-style:normal; margin-right:50px;}
 .ttp_ziyou{min-width:55px; width:auto!important; float:right; text-align:center; position:relative;}
 .ttp_zziyou{min-width:80px; width:auto!important; float:right;  position:relative;}
 .ttp_huo{background:url(../images/guangbiao.gif) no-repeat; width:35px; height:35px; position:absolute; top:5px; left:0;}
 .ttp_qiang_1{background:url(../images/xiugai.gif) no-repeat; width:35px; height:35px; position:absolute; top:5px; left:-10px;}
 .ttp_qiang_2{background:url(../images/shanchu.gif) no-repeat; width:35px; height:35px; position:absolute; top:5px; left:-10px;}
 .ttp_qiang_3{background:url(../images/zhiding.gif) no-repeat; width:35px; height:35px; position:absolute; top:5px; left:-10px;}
 .ttp_xin{ background:#fff;}
 
 .wttp_lop{min-width:780px; height:400px; padding-top:14px; overflow:hidden;  background:#f1f1f1;}
 .wttp_zai{margin:0; min-width:780px; height:400px; overflow:hidden; padding:0;}
 .wttp_zai li{min-width:780px; height:35px; line-height:35px; margin-top:0px; border-bottom:1px dashed #c4c4c4;  list-style-type:none;}
 .wttp_zai li a{ height:35px; line-height:35px; color:#666; text-decoration:none;}
 .wttp_tui{min-width:500px; text-indent:2.5em; position:relative; float:left;}
 .wttp_zhi{float:right; font-family:Verdana, Geneva, sans-serif; font-style:normal; margin-right:50px;}
 .wttp_ziyou{width:55px; text-align:center; position:relative; float:right; }
 .wttp_zziyou{width:100px; text-align:center; position:relative; float:right; }
 .wttp_huo_1{background:url(../images/ping.gif) no-repeat; width:35px; height:35px; position:absolute; top:5px; left:0;}
 .wttp_huo_2{background:url(../images/an.gif) no-repeat; width:35px; height:35px; position:absolute; top:2px; left:0;}
 .wttp_qiang_1{background:url(../images/geng.gif) no-repeat; width:35px; height:35px; position:absolute; top:5px; left:-10px;}
 .wttp_qiang_2{background:url(../images/xia.gif) no-repeat; width:35px; height:35px; position:absolute; top:5px; left:-10px;}
 .wttp_qiang_3{background:url(../images/shan.gif) no-repeat; width:35px; height:35px; position:absolute; top:5px; left:-10px;}
 .wttp_xin{ background:#fff;}
 
  .fttp_lop{min-width:790px; height:400px; padding-top:14px; overflow:hidden;  background:#f1f1f1;}
  .qttp_lop{min-width:790px; height:423px; padding-top:4px; overflow:hidden;  }
 .fttp_zai{margin:0; min-width:800px; height:400px; overflow:hidden; padding:0;}
 .fttp_zai li{min-width:800px; height:35px; line-height:35px; margin-top:0px; border-bottom:1px dashed #c4c4c4; position:relative;  list-style-type:none;}
 .fttp_zai li a{ float:left; height:35px; line-height:35px; color:#666; text-decoration:none;}
 .fttp_tui{min-width:600px; width:auto!important; text-indent:2.5em; position:relative; float:left;}
 .fttp_zhi{float:right; font-family:Verdana, Geneva, sans-serif; font-style:normal; margin-right:20px;}
 .fttp_ziyou{width:55px; text-align:center; position:relative;}
 .fttp_huo_1{background:url(../images/xin_1.gif) no-repeat; width:35px; height:35px; position:absolute; top:5px; left:0;}
 .fttp_huo_2{background:url(../images/xin_2.gif) no-repeat; width:35px; height:35px; position:absolute; top:5px; left:0;}
 .fttp_qiang_1{background:url(../images/xiugai.gif) no-repeat; width:35px; height:35px; position:absolute; top:5px; left:-10px;}
 .fttp_qiang_2{background:url(../images/shanchu.gif) no-repeat; width:35px; height:35px; position:absolute; top:5px; left:-10px;}
 .fttp_qiang_3{background:url(../images/zhiding.gif) no-repeat; width:35px; height:35px; position:absolute; top:5px; left:-10px;}
 .fttp_xin{ background:#fff;}
 
  .jiankang{min-width:780px; height:400px; margin-top:30px; margin-left:10px;} 
 .jiankang_ai{min-width:780px; height:30px; line-height:30px;}
 .jiankang_ui{width:100px; height:30px; float:left; text-align:right;}
 .jiankang_ji{width:600px; height:30px; float:left; margin-left:10px;}
 .jiankang_sui{min-width:780px; height:30px; line-height:30px; margin-top:20px;}
 .jiankang_you{width:150px; height:18px; margin-top:4px;}
 .jiankang_mei{width:120px; height:30px; margin:20px 0 0 111px; color:#666;}

.gaidong{width:500px; height:25px; margin-top:15px; line-height:25px;}  
.gaidong_cun{width:70px; float:left; height:25px; text-align:right;}
.gaidong_zhqo{ width:302px; float:left; height:40px; margin:0 auto;}
.gaidong_yin{width:200px; height:25px; border:none; background:none; border-bottom:1px solid #94bc59;}
.gaidong_liu{width:80px; height:24px; margin-top:3px;}

   .black_overlay{ 
            display: none; 
            position: absolute; 
            top: 0%; 
            left: 0%; 
            width: 100%; 
            height: 100%; 
            background-color: black; 
            z-index:1001; 
            -moz-opacity: 0.3; 
            opacity:.30; 
            filter: alpha(opacity=30); 
        } 
        .white_content { 
            display: none; 
            position: absolute; 
            top: 20%; 
            left: 20%; 
            width: 700px; 
            height: 300px; 
            border:5px solid #CCC;
            background-color: white; 
            z-index:1002; 
            overflow: auto;
        } 
.boyd{ width:100%; min-width:750px; height:450px; }
.boyd_tt{min-width:750px;height:350px; margin:0; padding:0; overflow:hidden;}
#canvas{}

.tong{min-width:700px; height:30px; background:#f4f4f4; position:relative;}
.tong_sail{min-width:650px; height:30px; float:left; text-align:center; line-height:30px; font-size:14px; color:#333; text-indent:2em; font-weight:bold;}
.tong_lie{min-width:700px; height:25px; position:absolute; top:35px; left:0; font-size:12px;}
.tong_so{width:60px; height:25px; line-height:25px; float:left; text-align:center; margin-left:10px; border:#c4c4c4; color:#999;}
.tong_app{width:60px; height:25px; line-height:25px; float:left; text-align:center; margin-left:560px; border:#c4c4c4; color:#999;}
.tong_shen{width:50px; height:30px; float:left; text-align:center; background:#f3e2e4; line-height:30px; margin:0; color:#666;}
.tong_xia{width:340px; height:30px; margin:0 auto;}
.tong_fla{min-width:680px; height:200px; margin:35px auto 0;}
.tong_tuan{width:20px; height:15px; float:left; border-bottom:1px solid #96b9cd;}
.tong_lpan{width:130px; height:30px; float:left; line-height:30px; text-align:center;}
.tong_ply{width:40px; height:15px; float:left;}
.tong_jian{width:20px; height:15px; float:left; border-bottom:1px solid #dcdcdc;}
.tong_ju{width:130px; height:30px; float:left; line-height:30px; text-align:center;}

.boshi{min-width:600px;height:250px;visibility:hidden; margin:0 auto;}
.boshi_da{min-width:790px; height:auto; margin-top:10px;}
.boshi_xin{min-width:790px; height:25px;}
.boshi_he{width:250px; height:25px; line-height:25px; float:left}
.boshi_qian{width:270px; height:25px; line-height:25px; float:left}
.boshi_be{ width:250px; height:25px; line-height:25px; float:left}
.boshi_bi{min-width:790px; height:auto;}
.boshi_pi{width:90px; height:30px;}
.boshi_wan{width:90px; height:30px; margin:15px 0 0 15px;}

.blck_overlay{
display: none;
position: absolute;
top: 0%;
left: 0%;
width: 100%;
height: 100%;
background-color: black;
z-index:1001;
-moz-opacity: 0.5;
opacity:.50;
filter: alpha(opacity=50);
}
.whte_content {
display: none;
position: absolute;
top: 10%;
left: 35%;
width: 282px;
height: 500px;
border: 4px solid #FF9;
background-color: white;
z-index:1002;
overflow: auto;
background:url(../images/tan_2.jpg) no-repeat;
}

#dd{ overflow:auto}

.kan{width:280px; height:32px; line-height:32px; text-align:center; position:relative;}
.kan_top{font-size: 16px; color:#003; position:absolute; top:0; right:0; width:40px; height:32px; display:block; cursor:pointer;}
.kan_qian{width:280px; height:30px; line-height:30px; text-align:center; color:#999;}
.kan_mo{width:270px; height:390px; margin:0 auto; line-height:30px;  color:#999; text-indent:2em; overflow:hidden;}
.kan_ko{WIDTH:270px;  height:390px; overflow:auto; overflow-x:hidden;    scrollbar-arrow-color: red;
        scrollbar-base-color:#666;
        scrollbar-dark-shadow-color: #d8d8d8;
        scrollbar-track-color:#d8d8d8;
        scrollbar-face-color:#999;
        scrollbar-shadow-color:#777;
        scrollbar-highlight-color:#000;
        scrollbar-3d-light-color:#000;}
.kan_po{word-break:break-all;width:250px;}

.shang{ height:423px; min-width:780px; width:100%; margin:0; padding:0;   border-collapse:collapse;}
.shang_xiang{ height:25px; min-width:780px; width:100%; margin:0; padding:0;   border-collapse:collapse; background:#f1f1f1;}
.shang_xihh{ height:360px; min-width:780px;  width:100%; margin:0; padding:0;   border-collapse:collapse; background:#fff; overflow:hidden;}
.shang_xihh td{border-bottom:1px dotted #c4c4c4;}
.shang_xiang th{ border:1px solid #c4c4c4; height:25px;}
.shang_xiang td{ border:1px solid #c4c4c4; height:25px;}
.shang tr td{ border-bottom:1px dotted #c4c4c4; height:38px; line-height:19px; overflow:hidden;}
.shang_po{height:40px; background:#fff; overflow:hidden;}
.shang_po td{ text-align:center;}
.shang_po td a{width:30px;}
.shang_mo{ margin-left:15px;}
#shang_mei{text-indent:2em; text-align:left;}
.shang_tta{position:relative; margin-right:25px; color:#666;}
.shang_tta:hover{ color:#666;}
.shang_tt{position:relative;  margin-right:0px;color:#666;}
.shang_tt:hover{ color:#666;}
.shang_pola{ position:absolute; top:-5px; left:-25px;}

.lixian{width:300px; height:30px;  border:none; border-bottom:1px solid #d8d8d8; margin:0 auto; font-size:14px; color:#999; font-weight:600; text-align:center; line-height:40px;}
#search{ color:#999;}

.mimi{width:450px; height:400px; display: none;
position: absolute;
top: 15%;
left: 35%;
border: 4px solid #999;
background-color:#fff;
z-index:1002;
overflow: auto;}
.mimi_qie{font-size: 12px; color:#666; position:absolute; top:0; right:0; width:40px; height:30px; text-align:center; line-height:30px; display:block; cursor:pointer; background:#FFF; color:#666; font-weight:500;}
.mimi_sa{width:450px; height:31px; border-bottom:1px solid #999; line-height:31px; text-align:center; font-size:14px; font-weight:bold; background:#d8d8d8; color:#666;}
.mimi_er{width:400px; height:150px; padding:10px 25px 0 25px; text-indent:2em; overflow:hidden; line-height:25px; color:#666;}
.mimi_aop{width:400px; height:25px; line-height:25px; border-bottom:1px solid #d8d8d8;}
.mimi_fter{width:400px; height:130px; padding:5px 25px 0 25px; color:#666;}
.mimi_see{width:400px; height:100px; margin-top:5px; color:#666; font-size:12px;}
.mimi_pop{width:400px; height:40px; padding:5px 25px 0 25px; color:#666;}
.mimi_qing{width:100px; height:30px; margin-left:150px;}

.lary{ width:120px; height:30px; line-height:30px; float:right;}
.lary_gop{width:120px; display:block; height:30px; text-decoration:none; color:#999;line-height:30px; position:relative; text-align:left; text-indent:3em;}
.lary_ppl{position:absolute; width:30px; height:30px; top:0; left:00px;}

.heep{width:400px; height:250px; padding:10px 25px 0px; color:#666;}
.heep_ap{ width:400px; height:30px;}
.heep_poy{width:25px; height:30px; line-height:30px; float:left;}
.heep_shu{width:240px; height:30px; float:left; line-height:30px;}
.heep_qing{width:120px; text-align:left; line-height:30px; height:30px; float:left;}
.heep_me{width:50px; height:20px; float:left;}
.heep_metab{width:50px; height:20px; float:left; margin-left:10px;}
.heep_she{ width:400px; height:30px; margin-top:10px;}
.heep_over{width:187px; height:22px; line-height:22px;}.
.heep_wva{width:180px; height:20px; line-height:20px;}
.heep_latt{width:400px; height:120px; margin-top:10px; text-indent:2em; overflow:hidden;}
.heep_feel{width:350px; height:100px; margin-top:5px; color:#666; font-size:12px;}
.heep_oppa{width:400px; height:30px; margin-top:20px;}
.heep_sipi{width:100px; height:30px; margin-left:150px;}

.play{ width:750px; height:500px; float:left; margin-top:10px;}
.play_tg{width:300px; height:500px; float:left;}
.play_lkp{ width:300px; height:30px; margin-top:20px;}
.play_lkj{ width:300px; height:30px; margin-top:5px;}
.play_left{ width:70px; height:30px; line-height:30px; text-align:right; float:left;}
.play_right{ width:215px; height:30px; line-height:30px; text-align:left; float:left;}
.play_jiao{width:86px; margin-top:4px;}

.linfeng{width:340px; height:492px; float:left; }
.linfeng_meng{ width:300px; height:30px; margin:0 auto;}
.linfeng_buyi{width:60px; height:30px; line-height:30px; float:left; font-size:12px;}
.linfeng_ding{width:328px; height:100px; float:left; margin-top:20px; border:1px solid #fff;}
.linfeng_feng{width:328px; height:220px;  clear:both; margin:0;}
.linfeng_ling{margin:0 auto; padding:0;}
.linfeng_nan{width:130px; height:30px; clear:both; margin:0px auto 0;}
.linfeng_guai{width:130px; height:30px; background:url(../images/tijiao.png) no-repeat; border:0; cursor:pointer;}

#nav h1, #nav h2, #nav p {margin:0 10px; letter-spacing:1px;}  
#nav h1,#nav h2{font-size:2.5em; color:#fff;}  
#nav { margin:1em;text-align:center; width:336px; margin:0; padding:0;}  
  
.xtop, .xbottom {display:block; font-size:1px;}  
.xb1, .xb2, .xb3, .xb4 {display:block; overflow:hidden;}  
.xb1, .xb2, .xb3 {height:1px;}  
.xb2, .xb3, .xb4 {background:#999; border-left:1px solid #999; border-right:1px solid #999;}  
.xb1 {margin:0 4px; }  
.xb2 {margin:0 4px; border-width:0 2px;}  
.xb3 {margin:0 2px;}  
.xb4 {height:2px; margin:0 1px;}  
  
.xboxcontent {display:block; height:492px;  border:1px solid #999; background:#fff; border-width:0 3px;}
 .huoli{width:300px; height:30px; margin-left:15px; margin-top:15px; color:#999;}
 .huoli_quan{width:300px; height:100px; display:block; margin:0 auto; cursor:pointer;}
 .huoli_kai{width:328px; height:25px; clear:both; padding-top:10px;}
 .huoli_pop{width:298px; height:200px; font-size:12px; background:#f8f8f8; text-indent:2em; border:1px solid #d8d8d8;;;color:#666; margin-left:15px; margin-top:10px;}
 
 .lihong{width:130px; height:25px; margin:0 auto}
 .lihong_huo{width:130px; height:25px; margin:0 auto;}
 .lihong_bey{width:130px; height:25px; display:block; line-height:25px; cursor:pointer;}
 .lihong_beyond{width:30px; height:30px; float:left; background:url(../images/poty.gif) no-repeat;}
 .lihong_chuan{width:90px; height:30px; float:left;}