.icon-blank{
	background:url('images/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('images/edit_add.png') no-repeat center center;
}
.icon-edit{
	background:url('images/pencil.png') no-repeat center center;
}
.icon-remove{
	background:url('images/edit_remove.png') no-repeat center center;
}
.icon-save{
	background:url('images/filesave.png') no-repeat center center;
}
.icon-cut{
	background:url('images/cut.png') no-repeat center center;
}
.icon-ok{
	background:url('images/ok.png') no-repeat center center;
}
.icon-no{
	background:url('images/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('images/cancel.png') no-repeat center center;
}
.icon-reload{
	background:url('images/reload.png') no-repeat center center;
}
.icon-search{
	background:url('images/search.png') no-repeat center center;
}
.icon-print{
	background:url('images/print.png') no-repeat center center;
}
.icon-help{
	background:url('images/help.png') no-repeat center center;
}
.icon-undo{
	background:url('images/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('images/redo.png') no-repeat center center;
}
.icon-back{
	background:url('images/back.png') no-repeat center center;
}
.icon-sum{
	background:url('images/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('images/tip.png') no-repeat center center;
}
.icon-filter{
	background:url('images/filter.png') no-repeat center center;
}


.icon-mini-add{
	background:url('images/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('images/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('images/mini_refresh.png') no-repeat center center;
}
.icon-export{
	background:url('images/export.png') no-repeat center center;
}
.icon-download{
	background:url('images/download.png') no-repeat center center;
}
.icon-edit{
	background:url('images/edit.png') no-repeat center center;
}
.icon-piechart{
	background:url('images/piechart.png') no-repeat center center;
}
.icon-barchart{
	background:url('images/barchart.png') no-repeat center center;
}
.icon-stat{
	background:url('images/statistics.png') no-repeat center center;
}
.icon-view{
	background:url('images/view.png') no-repeat center center;
}
.icon-garbage{
	background:url('images/garbage.png') no-repeat center center;
}
.icon-new{
	background:url('images/new.png') no-repeat center center;
}
.icon-top{
	background:url('images/top.png') no-repeat center center;
}
.icon-mailreply{
	background:url('images/mail_reply.png') no-repeat center center;
}
.icon-closeorder{
	background:url('images/close_order.png') no-repeat center center;
}
.icon-goback{
	background:url('images/go_back.png') no-repeat center center;
}
.icon_broadcast{
	background:url('images/icon_broadcast.png') no-repeat center center;
}
.icon_chat{
	background:url('images/icon_chat.png') no-repeat center center;
}
.icon_change{
	background:url('images/change.png') no-repeat center center;
}
.icon_delivery{
	background:url('images/delivery.png') no-repeat center center;
}
.icon_salebill{
	background:url('images/sale.png') no-repeat center center;
}
.icon_change{
	background:url('images/change.png') no-repeat center center;
}
.icon_rmb{
	background:url('images/rmb.png') no-repeat center center;
}
.icon_import{
	background:url('images/import.png') no-repeat center center;
}
.icon-identity{
	background:url('images/identity.png') no-repeat center center;
}
.icon-lock{
	background:url('images/lock.png') no-repeat center center;
}
.icon-groupkey{
	background:url('images/group_key.png') no-repeat center center;
}
.icon-access{
	background:url('images/access.png') no-repeat center center;
}
.icon-clipboard{
	background:url('images/clipboard.png') no-repeat center center;
}
.icon-coin{
	background:url('images/Yen_coin.png') no-repeat center center;
}
.icon-analytics{
	background:url('images/analytics.png') no-repeat center center;
}
.icon-image{
	background:url('images/image.png') no-repeat center center;
}
.icon-finish{
	background:url('images/finish.png') no-repeat center center;
}
.icon-book{
	background:url('images/book.png') no-repeat center center;
}
.icon-group{
	background:url('images/group.png') no-repeat center center;
}
.icon-dollar{
	background:url('images/dollar.png') no-repeat center center;
}
.icon-next{
	background:url('images/icon_next.png') no-repeat center center;
}
.icon-prev{
	background:url('images/icon_prev.png') no-repeat center center;
}
.icon_person{
	background:url('images/person.png') no-repeat center center;
}
.icon_lock{
	background:url('images/lock.gif') no-repeat center center;
}
.icon_checklist{
	background:url('images/checklist.png') no-repeat center center;
}
.icon_card{
	background:url('images/card.png') no-repeat center center;
}